@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a Message!</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos illum officia, magni, similique quibusdam consectetur magnam exercitationem et aspernatur sit non rerum quia dolores unde repellendus incidunt quisquam voluptates. </p>
</div>
